{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"assignees\": [\"octocat\"], \"labels\": [\"bug\"]}"}, "headers": {"Authorization": ["token wrong_token"]}, "method": "PATCH", "uri": "https://api.github.com/repos/mi-pyt-ghia/tumapav/issues/1347"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["401 Unauthorized"], "X-GitHub-Media-Type": ["github.v3; format=json"], "X-RateLimit-Limit": ["60"], "X-RateLimit-Remaining": ["47"], "X-RateLimit-Reset": ["1575227285"]}, "status": {"code": 401, "message": "Unauthorized"}, "url": "https://api.github.com/repos/mi-pyt-ghia/tumapav/issues/1347"}, "recorded_at": "2019-12-01T18:15:25"}], "recorded_with": "betamax/0.8.1"}