{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "{\"assignees\": [\"ghia-jane\"], \"labels\": [\"Need assignment\", \"added_label\"]}"}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "PATCH", "uri": "https://api.github.com/repos/mi-pyt-ghia/tumapav/issues/120"}, "response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/mi-pyt-ghia/tumapav/issues/120\",\"repository_url\":\"https://api.github.com/repos/mi-pyt-ghia/tumapav\",\"labels_url\":\"https://api.github.com/repos/mi-pyt-ghia/tumapav/issues/120/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/mi-pyt-ghia/tumapav/issues/120/comments\",\"events_url\":\"https://api.github.com/repos/mi-pyt-ghia/tumapav/issues/120/events\",\"html_url\":\"https://github.com/mi-pyt-ghia/tumapav/issues/120\",\"id\":530761720,\"node_id\":\"MDU6SXNzdWU1MzA3NjE3MjA=\",\"number\":120,\"title\":\"Dummy\",\"user\":{\"login\":\"tumapav\",\"id\":39885327,\"node_id\":\"MDQ6VXNlcjM5ODg1MzI3\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/39885327?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/tumapav\",\"html_url\":\"https://github.com/tumapav\",\"followers_url\":\"https://api.github.com/users/tumapav/followers\",\"following_url\":\"https://api.github.com/users/tumapav/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/tumapav/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/tumapav/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/tumapav/subscriptions\",\"organizations_url\":\"https://api.github.com/users/tumapav/orgs\",\"repos_url\":\"https://api.github.com/users/tumapav/repos\",\"events_url\":\"https://api.github.com/users/tumapav/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/tumapav/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[{\"id\":1708356176,\"node_id\":\"MDU6TGFiZWwxNzA4MzU2MTc2\",\"url\":\"https://api.github.com/repos/mi-pyt-ghia/tumapav/labels/added_label\",\"name\":\"added_label\",\"color\":\"ededed\",\"default\":false,\"description\":null},{\"id\":1708295252,\"node_id\":\"MDU6TGFiZWwxNzA4Mjk1MjUy\",\"url\":\"https://api.github.com/repos/mi-pyt-ghia/tumapav/labels/Need%20assignment\",\"name\":\"Need assignment\",\"color\":\"ededed\",\"default\":false,\"description\":null}],\"state\":\"open\",\"locked\":false,\"assignee\":{\"login\":\"ghia-jane\",\"id\":54778045,\"node_id\":\"MDQ6VXNlcjU0Nzc4MDQ1\",\"avatar_url\":\"https://avatars1.githubusercontent.com/u/54778045?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/ghia-jane\",\"html_url\":\"https://github.com/ghia-jane\",\"followers_url\":\"https://api.github.com/users/ghia-jane/followers\",\"following_url\":\"https://api.github.com/users/ghia-jane/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/ghia-jane/gists{/gist_id}\",\"s[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/mi-pyt-ghia/tumapav/issues"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/mi-pyt-ghia/tumapav/issues/120\",\"repository_url\":\"https://api.github.com/repos/mi-pyt-ghia/tumapav\",\"labels_url\":\"https://api.github.com/repos/mi-pyt-ghia/tumapav/issues/120/labels{/name}\",\"comments_url\"[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repositories/225196567/issues?page=2"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/mi-pyt-ghia/tumapav/issues/90\",\"repository_url\":\"https://api.github.com/repos/mi-pyt-ghia/tumapav\",\"labels_url\":\"https://api.github.com/repos/mi-pyt-ghia/tumapav/issues/90/labels{/name}\",\"comments_url[...]
[...]
