{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token wrong_token"]}, "method": "GET", "uri": "https://api.github.com/user"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://developer.github.com/v3\"}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["401 Unauthorized"], "X-GitHub-Media-Type": ["github.v3; format=json"], "X-RateLimit-Limit": ["60"], "X-RateLimit-Remaining": ["50"], "X-RateLimit-Reset": ["1575230821"]}, "status": {"code": 401, "message": "Unauthorized"}, "url": "https://api.github.com/user"}, "recorded_at": "2019-12-01T19:09:31"}], "recorded_with": "betamax/0.8.1"}