{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/user"}, "response": {"body": {"encoding": "utf-8", "string": "{\"login\":\"tumapav\",\"id\":39885327,\"node_id\":\"MDQ6VXNlcjM5ODg1MzI3\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/39885327?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/tumapav\",\"html_url\":\"https://github.com/tumapav\",\"followers_url\":\"https://api.github.com/users/tumapav/followers\",\"following_url\":\"https://api.github.com/users/tumapav/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/tumapav/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/tumapav/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/tumapav/subscriptions\",\"organizations_url\":\"https://api.github.com/users/tumapav/orgs\",\"repos_url\":\"https://api.github.com/users/tumapav/repos\",\"events_url\":\"https://api.github.com/users/tumapav/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/tumapav/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"Pavel Tuma\",\"company\":null,\"blog\":\"\",\"location\":\"Czech Republic\",\"email\":null,\"hireable\":null,\"bio\":null,\"public_repos\":1,\"public_gists\":0,\"followers\":0,\"following\":0,\"created_at\":\"2018-06-03T18:48:24Z\",\"updated_at\":\"2019-12-01T15:12:59Z\",\"private_gists\":1,\"total_private_repos\":1,\"owned_private_repos\":1,\"disk_usage\":364,\"collaborators\":2,\"two_factor_authentication\":false,\"plan\":{\"name\":\"free\",\"space\":976562499,\"collaborators\":0,\"private_repos\":10000}}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4840"], "X-RateLimit-Reset": ["1575230289"], "ETag": ["\"ce5630626aba32dc27964808792f5c1b\""], "Last-Modified": ["Sun, 01 Dec 2019 15:12:59 GMT"], "X-OAuth-Scopes": ["admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, read:packages, repo, user, workflow, write:discussion, write:packages"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/user"}, "recorded_at": "2019-12-01T19:09:43"}], "recorded_with": "betamax/0.8.1"}